<ion-view view-title="Challenge">
  <ion-content class="chd padding">
 <div class="card">
  <div class="item item-divider card_head">
   <h1 class="h1_card_title">cook</h1>
  </div>
  <div class="item item-text-wrap">
 	<div class="list">
 		<a class="item" href="#">
		    <h2 class="h2_chd_card_title">directions</h2>
  		</a>
  		<a class="item" href="#">
    		<span class="num_cir">1</span>
    		Cook a Meal
    		<p class="p_inner_card_subtitle">for more than 2 people</p>
    		
  		</a>
  		<a class="item item-icon-right" href="#">
    		<span class="num_cir">2</span>
    		Take a Picture
    		<p class="p_inner_card_subtitle">of your challenge</p>
  		</a>
<i class="icon icon-camera button button-small cam_ico"></i>
 	</div>
  <br>
  <br>
  </div>
  <div class="item item-divider card_foot">
    <i class="icon ion-edit"></i>	
    	&nbsp;&nbsp; leave a comment
  </div>
  <div class="float_cir">
    save
  </div>
</div>

  </ion-content>
</ion-view>
