<ion-view view-title="Challenge">
  <ion-content class="chd padding">
 <div class="card">
  <div class="item item-divider card_head">
   <h1 class="h1_card_title">cook</h1>
  </div>
  <div class="item item-text-wrap">
 	<div class="list">
 		<a class="item" href="#">
		    <h2 class="h2_chd_card_title">Check mail</h2>
  		</a>
  		<a class="item item-icon-right" href="#">
    		<span class="num_cir">1</span>
    		Cook a Meal
    		<p>for more than 2 people</p>
    		
  		</a>
  		<a class="item item-icon-right" href="#">
    		<span class="num_cir">2</span>
    		Take a Picture
    		<p>of your challenge</p>
    		<i class="icon icon-camera"></i>
  		</a>
  		<!-- <ul>
	  		<li>
	  			<span>1</span>
	  			<span>Cook a Meal</span>
	  			<p>for more than 2 people tonight.</p>
	  		</li> 
	  		<li>
	  			<a class="item item-icon-left item-icon-right" href="#">
				    <i class="icon ion-chatbubble-working"></i>
				    Call Ma
				    <i class="icon ion-ios-telephone-outline"></i>
  					</a>
	  			<div class="icon icon-right ion-ios-arrow">
		  			<span>2</span>
		  			<span>take a picture</span>
					<p>for more than 2 people tonight.</p>
				</div>
	  		</li>
		</ul> -->
 	</div>
  </div>
  <div class="item item-divider card_foot">
    <i class="icon ion-edit"></i>	
    	&nbsp;&nbsp; leave a comment
  </div>
</div>

  </ion-content>
</ion-view>
