<ion-view view-title="My Mood">
  <ion-content class="dashboard-background">
    <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
              <div class="slider-content">
                  <i class="icon icon-angry-full"></i>
                  <i class="icon icon-happy-filled active" ng-click="signIn()"></i>
                  <i class="icon icon-sad-filled"></i>
                  <h3>How are you feeling?</h3> 
              </div>
          </ion-slide>
          <ion-slide>            
              <div class="slider-content">
                  <i class="icon icon-happy-filled"></i>
                  <i class="icon icon-sad-filled  active" ng-click="signIn()"></i>
                  <i class="icon icon-angry-full"></i>
                  <h3>How are you feeling?</h3> 
              </div>       
          </ion-slide>
          <ion-slide>            
             <div class="slider-content">
                 
                  <i class="icon icon-sad-filled"></i>
                  <i class="icon icon-angry-full active" ng-click="signIn()"></i>
                  <i class="icon icon-happy-filled"></i>
                  <h3>How are you feeling?</h3> 
              </div>
          </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
