<ion-view view-title="my challenges">
  <ion-content class="challenges">
    <ion-slide-box show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="Active">
          <br> 
          <div class="card active-card-light">
            <div class="row">
              <div class="col col-20 col-center icon-restart your-challenge-icon"></div>
              <div class="col">
                <span class="resume-work">resume work on</span>
                <h3 class="h3-active-card-light">your challenge</h3>
                <span>started today @ 11:22am</span>
              </div>
              <div class="col col-10 col-center ion-chevron-right ion-chevron-right-size"></div>
            </div>
          </div>
          <br> 
          <div class="card active-card-dark" ui-sref="tab.chd">
            <div class="row">
              <div class="col col-20 col-center icon-full-challenge new-challenge-icon">
              </div>
              <div class="col">
                <!-- <span>resume work on</span>
                <br> -->
                <h3 class="h3-active-card-dark">new challenge</h3>
      
                <span>today @ 11:22am</span>
              </div>
              <div class="col col-10 col-center ion-chevron-right ion-chevron-right-size"></div>
            </div>
          </div>
          <br>
          <div class="card active-card-dark">
            <div class="row">
              <div class="col col-20 col-center icon-full-challenge new-challenge-icon">
              </div>
              <div class="col">
                <!-- <span>resume work on</span>
                <br> -->
                <h3 class="h3-active-card-dark">new challenge</h3>
      
                <span>08/21 @ 11:22am</span>
              </div>
              <div class="col col-10 col-center ion-chevron-right ion-chevron-right-size"></div>
            </div>
          </div>

      </ion-slide>
      <ion-slide ion-slide-tab-label="Pending">
          <br> 
          <div class="card pending-card-light">
            <div class="row">
              <div class="col col-20 col-center icon-pending new-challenge-icon"></div>
              <div class="col">
                <h3 class="h3-active-card-light">pending review</h3>
                
                <span>Posted 08/11/15 @ 11:22am</span>
              </div>
              <div class="col col-10 col-center ion-chevron-right ion-chevron-right-size"></div>
            </div>
          </div>
      </ion-slide>
      <ion-slide ion-slide-tab-label="Complete">
          <div class="list list-inset challenge-complete-list">
            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-checkmark-round"></i>
                <h3>completed project</h3>
                <span>Posted 08/11/15 @ 11:22am</span>
              <i class="icon ion-chevron-right"></i>
            </a> 
             <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-checkmark-round"></i>
                <h3>completed project</h3>
                <span>Posted 08/11/15 @ 11:22am</span>
              <i class="icon ion-chevron-right"></i>
            </a>  
             <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-checkmark-round"></i>
                <h3>completed project</h3>
                <span>Posted 08/11/15 @ 11:22am</span>
              <i class="icon ion-chevron-right"></i>
            </a>  
             <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-checkmark-round"></i>
                <h3>completed project</h3>
                <span>Posted 08/11/15 @ 11:22am</span>
              <i class="icon ion-chevron-right"></i>
            </a>            
          </div>
      </ion-slide>
    </ion-slide-box>

</ion-content>
</ion-view>
