<ion-view>
    <ion-pane>
        <div class="mood-wrapper">
            <div class="item item-image">
                <img src="img/profilepic.png">
                <div class="time-wrapper">
                    <p class="title">Happy <!-- <span class="time">Today @ 8.28 am</span> --></p>                    
                </div>
            </div>
            <div class="item item-divider mood-footer">
                <!-- <blockquote>Happiness is contigious</blockquote>
                 -->
                <a class="btn-float" ng-click="save()">SAVE</a>
                
                 <h2>How happy are you?</h2>
                <div class="star-wrapper">
                   <i class="icon ion-ios-star fill"></i>
                    <i class="icon ion-ios-star fill"></i>
                    <i class="icon ion-ios-star fill"></i>
                    <i class="icon ion-ios-star"></i>
                    <i class="icon ion-ios-star"></i>

                </div> 
            </div>
        </div>
    </ion-pane>
</ion-view>