<ion-view>
    <ion-pane>
        <div class="mood-wrapper">
            <div class="item item-image">
                <img src="img/profilepic.png">
                <div class="time-wrapper">
                    <p class="title">Happy <!-- <span class="time">Today @ 8.28 am</span> --></p>                    
                </div>
            </div>
            <div class="item item-divider mood-footer">
                <!-- <blockquote>Happiness is contigious</blockquote>
                 -->
                <a class="btn-float" href="#">SAVE</a>
                <h3>sleep schedule last night?</h3>
                <ul class="wakeup-list">
                    <li>
                        I went to sleep 
                        <span class="item-note">
                         7:00 pm
                        </span>    
                    </li>
                    <li>
                        I woke up @ 
                        <span class="item-note">
                         7:00 am 
                        </span>
                    </li>
                </ul>
               
                                
            </div>
        </div>
    </ion-pane>
</ion-view>