<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="mood" icon-off="icon-happy-filled" icon-on="icon-happy-filled" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="challenges" icon-off="icon-challenge-icon" icon-on="icon-challenge-icon" href="#/tab/challenges">
    <ion-nav-view name="tab-challenges"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="me" icon-off="icon-me-icon" icon-on="icon-me-icon" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
